<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>URL</key>
        <dict>
            <key>popcornered</key>
            <dict>
                <key>URLPatterns</key>
                <array>
                    <string>http://popcornered\.com/films/\?films\=\d+</string>
                    <string>http://popcornered\.com/media/.+\.mp4</string>
                </array>
                <key>TestURLs</key>
                <array>
                    <string>http://popcornered.com/films/?films=875</string>
                </array>
            </dict>
        </dict>

        <key>Search</key>
        <dict>
            <key>popcornered</key>
            <dict>
                <key>Identifier</key>
                <string>com.plexapp.plugins.popcornered</string>
            </dict>
        </dict>

    </dict>
</plist>